<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="timerSeconds" value="30"/>
    <add key="daysToStore" value="5"/>
  </appSettings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<system.serviceModel>
		<protocolMapping>
			<remove scheme="net.tcp"/>
			<add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="TcpBinding"/>
		</protocolMapping>
		<standardEndpoints>
			<udpAnnouncementEndpoint>
				<standardEndpoint name="UdpAnnouncement"/>
			</udpAnnouncementEndpoint>
		</standardEndpoints>
		<bindings>
			<netTcpBinding>
				<binding name="TcpBinding">
					<security mode="None">
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="EmpTrackerBehavior" name="EmpTrackerWCFLibrary.EmpTrackerWcf">
				<endpoint address="tcp" behaviorConfiguration="TcpEndpointBehavior" binding="netTcpBinding" bindingConfiguration="TcpBinding" name="TcpEndpoint" contract="EmpTrackerWCFLibrary.IEmpTrackerService">
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" name="MexEndpoint" contract="IMetadataExchange" listenUriMode="Explicit" kind="mexEndpoint"/>
				<endpoint name="Discovery" kind="udpDiscoveryEndpoint"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://*:24816/EmpTrackerService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="TcpEndpointBehavior">
					<dataContractSerializer ignoreExtensionDataObject="true"/>
					<endpointDiscovery/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="EmpTrackerBehavior">
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
					<serviceDiscovery>
						<announcementEndpoints>
							<endpoint name="AnnouncementEndpoint" kind="udpAnnouncementEndpoint"/>
						</announcementEndpoints>
					</serviceDiscovery>
					<dataContractSerializer ignoreExtensionDataObject="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
