<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointBehavior">
                    <dataContractSerializer ignoreExtensionDataObject="true" />
                    <endpointDiscovery />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="TcpEndpoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint binding="netTcpBinding" bindingConfiguration="TcpEndpoint"
                contract="EmpTrackerService.IEmpTrackerService" name="TcpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>